@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

/* Color Var */
:root {
  --dark-blue: #192841;
  --blue: #0099bc;
  --grey: #eee;
  --grey-d-3: #888;
  --white: #fff;
  --dark: #342e37;
  --light: #f9f9f9;
}

body.dark {
  --dark-blue: var(--blue);
  --light: #0c0c1e;
  --grey: #060714;
  --dark: #fbfbfb;
}

/* Color Var */
* {
  box-sizing: border-box;
}
/* Remove default margin */
body,
h1,
h2,
h3,
h4 {
  @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-family: "Poppins", sans-serif;
  background: linear-gradient(90deg, var(--grey) 31px, transparent 1px) 50%,
    linear-gradient(180deg, var(--grey) 31px, var(--blue) 1px) 50%;
  background-size: 32px 32px;
  color: var(--dark);
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

.Admin {
  visibility: visible;
}
.User {
  visibility: hidden;
  display: none;
  overflow: hidden;
}

/* Navbar Section */
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Poppins:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

body {
  background: var(--grey);
  overflow-x: hidden;
}

/* NAVBAR */
#navbar nav {
  height: 56px;
  width: 100%;
  background: var(--light);
  padding: 0 24px;
  display: flex;
  align-items: center;
  grid-gap: 24px;
  font-family: var(--lato);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}
#navbar nav::before {
  content: "";
  position: absolute;
  width: 40px;
  height: 40px;
  bottom: -40px;
  left: 0;
  border-radius: 50%;
  box-shadow: -20px -20px 0 var(--light);
}
#navbar nav::after {
  content: "";
  position: absolute;
  width: 40px;
  height: 40px;
  bottom: -40px;
  right: 0;
  border-radius: 50%;
  box-shadow: 20px -20px 0 var(--light);
}
#navbar nav a {
  color: var(--dark);
}
#navbar nav .bx.bx-menu {
  cursor: pointer;
  color: var(--dark);
}
#navbar nav .nav-link {
  font-size: 16px;
  transition: 0.3s ease;
}
#navbar nav .nav-link:hover {
  color: rgb(0, 247, 255);
}
#navbar .bank:hover {
  color: rgb(0, 247, 255);
}
#navbar nav form {
  max-width: 400px;
  width: 100%;
  margin-right: auto;
}

#navbar nav .bank {
  font-size: 20px;
}
#navbar nav .logout {
  font-size: 20px;
  position: relative;
}
#navbar nav .logout :hover {
  color: rgb(0, 247, 255);
}

#navbar nav .switch-mode {
  display: block;
  min-width: 50px;
  height: 25px;
  border-radius: 25px;
  background: var(--grey);
  cursor: pointer;
  position: relative;
}
#navbar nav .switch-mode::before {
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  bottom: 2px;
  width: calc(25px - 4px);
  background: var(--dark-blue);
  border-radius: 50%;
  transition: all 0.3s ease;
}
#navbar nav #switch-mode:checked + .switch-mode::before {
  left: calc(100% - (25px - 4px) - 2px);
}

/* End Navbar Section*/

/* CHATBOX */
.chatbox-wrapper {
  z-index: 100;
  position: fixed;
  bottom: 1.4rem;
  right: 2rem;
  width: 4rem;
  height: 4rem;
}
.chatbox-toggle {
  width: 100%;
  height: 100%;
  background: var(--dark-blue);
  color: var(--white);
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.2s;
}
.chatbox-toggle:active {
  transform: scale(0.9);
}
.chatbox-message-wrapper {
  position: absolute;
  bottom: calc(100% + 1rem);
  right: 0;
  width: 400px;
  border-radius: 0.5rem;
  overflow: hidden;
  box-shadow: 0.5rem 0.5rem 2rem rgba(0, 0, 0, 0.1);
  transform: scale(0);
  transform-origin: bottom right;
  transition: 0.2s;
}
.chatbox-message-wrapper.show {
  transform: scale(1);
}
.chatbox-message-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--light);
  padding: 0.75rem 1.5rem;
}
.chatbox-message-profile {
  display: flex;
  align-items: center;
  grid-gap: 0.5rem;
}
.chatbox-message-image {
  width: 3rem;
  height: 3rem;
  object-fit: cover;
  border-radius: 50%;
}
.chatbox-message-name {
  color: var(--dark);
  font-size: 1.125rem;
  font-weight: 600;
}
.chatbox-message-status {
  font-size: 0.875rem;
  color: var(--grey-d-3);
}
.chatbox-message-dropdown {
  position: relative;
}
.chatbox-message-dropdown-toggle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.5rem;
  height: 2.5rem;
  font-size: 1.25rem;
  cursor: pointer;
  border-radius: 50%;
}
.chatbox-message-dropdown-toggle:hover {
  background: var(--grey);
}
.chatbox-message-dropdown-menu {
  list-style: none;
  margin: 0;
  position: absolute;
  top: 100%;
  right: 0;
  background: var(--light);
  padding: 0.5rem 0;
  width: 120px;
  box-shadow: 0.25rem 0.25rem 1.5rem rgba(0, 0, 0, 0.1);
  transform: scale(0);
  transform-origin: top right;
  transition: 0.2s;
  border-radius: 0.5rem;
  visibility: hidden;
}
.chatbox-message-dropdown-menu.show {
  transform: scale(1);
  visibility: visible;
}
.chatbox-message-dropdown-menu a {
  font-size: 0.875rem;
  font-weight: 500;
  color: var(--dark);
  background: var(--light);
  text-decoration: none;
  padding: 0.5rem 1rem;
  display: block;
}
.chatbox-message-dropdown-menu a:hover {
  background: var(--grey);
}
#chatbox-message-content {
  background: url("https://mcdn.wallpapersafari.com/medium/27/32/jt4AoG.jpg")
    repeat;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  grid-row-gap: 1rem;
  height: 280px;
  overflow-y: auto;
}
.chatbox-message-bottom {
  background: var(--white);
  padding: 0.75rem 1.5rem;
  display: flex;
}
.chatbox-message-form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background: #f5f5f5;
  border-radius: 0.5rem;
  padding: 0.5rem 1.25rem;
}
.chatbox-message-input {
  background: transparent;
  outline: none;
  border: none;
  resize: none;
  scrollbar-width: none;
}
.chatbox-message-input::-webkit-scrollbar {
  display: none;
}
.chatbox-message-button {
  background: var(--dark-blue);
  border-radius: 50%;
  color: var(--white);
  position: relative;
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
}

.chatbox-message-button i {
  font-size: 24px;
  margin-left: 17px;
}
.zmdi {
  margin-right: 15px;
}
.chatbox-message-response {
  display: flex;
  align-items: flex-end;
  margin-bottom: 10px;
}
.chatbox-message-response-image {
  width: 50px;
  height: 50px;
  margin-left: 10px;
  background: #ddd;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 50%;
}
.chatbox-message-bubble {
  width: 400px;
  padding: 15px;
  border-radius: 15px;
  background: #ececec;
}
.chatbox-message-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}
.chatbox-message-info-name {
  margin-right: 10px;
  font-weight: bold;
}
.chatbox-message-info-time {
  font-size: 0.85em;
}
.left-message .chatbox-message-bubble {
  background: #ddd;
  color: #342e37;
  border-bottom-left-radius: 0;
}
.right-message {
  flex-direction: row-reverse;
}
.right-message .chatbox-message-bubble {
  background: var(--dark-blue);
  color: var(--white);
  border-bottom-right-radius: 0;
}
.right-message .chatbox-message-response-image {
  margin: 0 0 0 10px;
}
.left-message .chatbox-message-response-image {
  margin-right: 10px;
}

/* Home Section */
#home .container {
  width: 100%;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#home .slider {
  position: relative;
  width: 100%;
  height: 100%;
  background: black;
}
#home img {
  width: 100%;
  height: 100%;
}
#home .myslide {
  height: 100%;
  display: none;
  overflow: hidden;
}

#home .prev,
.next {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  font-size: 50px;
  padding: 10px;
  cursor: pointer;
  color: #fff;
  transition: 0.1s;
  user-select: none;
  z-index: 2;
}

#home .next {
  right: 0;
}

#home .active,
.dot:hover {
  border-color: #00a7ff;
}

#home .fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.8;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.8;
  }
  to {
    opacity: 1;
  }
}
.txt {
  padding-right: 300px;
  position: absolute;
  color: white;
  letter-spacing: 2px;
  line-height: 35px;
  top: 40%;
  left: 13%;
  -webkit-animation-name: posi;
  -webkit-animation-duration: 2s;
  animation-name: posi;
  animation-duration: 2s;
  z-index: 1;
}

@-webkit-keyframes posi {
  from {
    left: 25%;
  }
  to {
    left: 15%;
  }
}

@keyframes posi {
  from {
    left: 25%;
  }
  to {
    left: 15%;
  }
}

#home .txt h1 {
  color: White;
  font-size: 50px;
  margin-bottom: 20px;
}
#home .txt p {
  font-weight: bold;
  font-size: 20px;
}

#home img {
  transform: scale(1.5, 1.5);
  -webkit-animation-name: zoomin;
  -webkit-animation-duration: 40s;
  animation-name: zoomin;
  animation-duration: 40s;
}
@-webkit-keyframes zoomin {
  from {
    transform: scale(1, 1);
  }
  to {
    transform: scale(1.5, 1.5);
  }
}

@keyframes zoomin {
  from {
    transform: scale(1, 1);
  }
  to {
    transform: scale(1.5, 1.5);
  }
}
/* Promo Content Section */
#promo .container {
  width: 100%;
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* End Promo Content Section */

/* News Content Section */
#news .news-container {
  max-width: 100%;
  justify-content: center;
  min-height: 100vh;
  margin-top: 30px;
  padding: 20px;
}

#news .card {
  float: left;
  margin: 25px;
  width: 355px;
  height: 274px;
  background: white;
  padding: 0.4em;
  border-radius: 6px;
}

.card-image {
  background-color: rgb(236, 236, 236);
  width: 100%;
  height: 60%;
  border-radius: 6px 6px 0 0;
}

.card-image:hover {
  transform: scale(0.98);
}

.category {
  text-transform: uppercase;
  font-size: 0.7em;
  font-weight: 600;
  color: rgb(63, 121, 230);
  padding: 10px 7px 0;
}

.category:hover {
  cursor: pointer;
}

.heading {
  font-weight: 600;
  color: rgb(88, 87, 87);
  padding: 7px;
}

.heading:hover {
  cursor: pointer;
}

.name {
  font-weight: 600;
}

.name:hover {
  cursor: pointer;
}

/* End News Content Section */

/* Footer Section */

#footer .footer-container {
  text-align: center;
  font-size: 15px;
  width: 100%;
  height: 4rem;
  display: grid;
}

.item1 {
  background: var(--light);
  color: var(--dark);
  font-size: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#item .item-container {
  padding: 10px 200px 20px;
  width: 100%;
  min-height: 100vh;

  justify-content: center;
  text-align: center;
}

#item p {
  text-align: left;
}
#item span {
  color: var(--blue);
  text-align: left;
}
@media screen and (max-width: 768px) {
  .txt {
    z-index: -1;
  }
}
.background-container {
  background: url(https://wallpaperaccess.com/full/643367.jpg) no-repeat;
  background-size: cover;
  background-color: var(--light);
  overflow: hidden;
}

#about .inner-container {
  width: 55%;
  float: right;
  background-color: var(--light);
  padding: 150px;
  margin-bottom: 40px;
}

#history .inner-container {
  width: 55%;
  float: left;
  background-color: var(--light);
  padding: 150px;
}

.inner-container h1 {
  margin-bottom: 30px;
  font-size: 30px;
  font-weight: 900;
}

.text {
  font-size: 13px;
  color: var(--dark);
  line-height: 30px;
  text-align: justify;
  margin-bottom: 40px;
}

@media screen and (max-width: 1000px) {
  #about .about-section {
    background-size: 100%;
    padding: 100px 40px;
  }
  #history .about-section {
    background-size: 100%;
    padding: 100px 40px;
  }
  #about .inner-container {
    width: 100%;
  }
  #history .inner-container {
    width: 100%;
  }
  #item .item-container {
    padding: 0;
    width: 100%;
    min-height: 100vh;
  }
}
/*End About Section*/
