* {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
}
/* Color Var */
:root {
  --blue: #013a4c;
  --ghostwhite: #fbfbfc;
  --white: #fff;
  --dark: #222;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

* {
  box-sizing: border-box;
}

@keyframes show {
  0% {
    opacity: 0;
    transform: scale(0);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

/* Color Var */
body {
  background: url("https://images.pexels.com/photos/7130488/pexels-photo-7130488.jpeg?auto=compress&cs=tinysrgb&w=600");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

h2 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  margin-bottom: 60px;
  font-size: 30px;
  font-weight: 100;
}
.header-line {
  border: 2px solid var(--blue);
  margin-bottom: 50px;
  margin-top: -50px;
}
a {
  text-decoration: none;
  color: #3856d1;
  font-size: 15px;
  cursor: pointer;
}
a:hover {
  color: #07139c;
}
p {
  font-size: 15px;
}
label {
  font-size: 15px;
}
input {
  padding: 10px;
  outline: none;
  border: 1px solid #5e5763;
  border-radius: 5px;
  background-color: var(--ghostwhite);
}
.response-text {
  transition: 1s ease;
  height: 30px;
  color: var(--white);
  justify-content: center;
  text-align: center;
  background-color: transparent;
}

.google-image {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.container {
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: center;
  align-content: center;
  border-radius: 1rem;
  margin: 150px 50px;
  background-color: var(--ghostwhite);
}

.row {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
  justify-items: center;
  width: 100%;
  height: 600px;
  gap: 10px;
}
.img {
  width: 100%;
  height: 100%;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
}
.form {
  display: none;
  transform: scale(0);
  opacity: 0;
  padding: 70px;
  visibility: hidden;
}

.form.active {
  display: flex;
  transform: scale(1);
  opacity: 1;
  flex-direction: column;
  gap: 10px;
  animation: show 1s;
  visibility: visible;
}

.password,
.email {
  border: none;
  padding: 20px;
  width: 60%;
}

.email {
  width: 100%;
}

.pass-reset {
  border: 1px solid #b0b6d0;
  padding: 0 5px;
  border-radius: 10px;
  display: flex;
  align-content: flex-start;
  justify-content: space-between;
  justify-items: baseline;
  align-items: baseline;
  margin-bottom: 10px;
  position: relative;
}

.reset-password {
  font-size: 15px;
  padding-right: 10px;
}

.btn {
  padding: 15px;
  outline: none;
  border: none;
  cursor: pointer;
  transition: all ease 0.3s;
  display: flex;
  justify-content: center;
  font-size: 22px;
  width: 100%;
}

.btn-login {
  background-color: #0b1cd5;
  color: var(--white);
  border-radius: 9px;
  margin-bottom: 5px;
}

.btn-login:hover {
  background-color: var(--blue);
}

.btn-gogle-auth {
  background-color: var(--white);
  color: var(--dark);
  border-radius: 9px;
  border: 1px solid #b0b6d0;
}

.or {
  color: #b0b6d0;
  align-self: center;
  text-align: center;
}

.or::before {
  content: "────────────────────────";
  margin-right: 10px;
}

.or::after {
  content: "────────────────────────";
  margin-left: 10px;
}
.ors {
  color: #b0b6d0;
  align-self: center;
  text-align: center;
}

.ors::before {
  content: "────────────────────────";
}

.ors::after {
  content: "────────────────────────";
}

@media screen and (max-width: 810px) {
  h2 {
    justify-content: center;
    font-size: 24;
  }
  .container {
    margin: 13px 25px;
    height: 600px;
  }
  .row {
    height: auto;
    position: absolute;
    flex-direction: column;
    width: 100%;
    border: 0;
  }
  .form {
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    visibility: hidden;
  }
  .form active {
    visibility: visible;
  }
  .form label {
    visibility: hidden;
  }
  .login-left-image {
    visibility: hidden;
  }
  .header-line {
    visibility: hidden;
  }
  .pass-reset {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: none;
  }

  .remember-box {
    flex-direction: row;
  }
  .email,
  .password {
    width: 100%;
    border: 1px solid #5e5763;
    margin-bottom: 10px;
  }
  .pass-reset {
    margin: 0 auto;
    width: 250px;
  }

  .google-image {
    margin-left: 10px;
  }
  .btn {
    padding: auto;
    width: 250px;
    justify-content: center;
  }

  .btn-gogle-auth {
    padding: 10px;
    margin-bottom: 10px;
  }
  .login-google-button-text {
    visibility: hidden;
    overflow: hidden;
    font-size: 0;
    padding: 0;
    margin: 0;
  }
  .or {
    width: 100%;
  }
  .or::before {
    content: "";
    padding: 0;
    margin: 0;
  }
  .or::after {
    content: "";
    padding: 0;
    margin: 0;
  }
  .ors {
    width: 100%;
  }
  .ors::before {
    content: "";
    padding: 0;
    margin: 0;
  }
  .ors::after {
    content: "";
    padding: 0;
    margin: 0;
  }
}
