<!DOCTYPE html>
<html lang="en">
<head>
	<!-- ICON -->
	<link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
	<link rel="stylesheet" href="./style/admin.css">
	<title>Finpro Project</title>
</head>
<body>
	<!-- SIDEBAR -->
	<section id="sidebar">

		<ul class="side-menu top">
			<li>
				<a href="/admin-index">
					<i class='bx bxs-dashboard' ></i>
					<span class="text">Dashboard</span>
				</a>
			</li>
			<li>
				<a href="/admin-slider">
					<i class='bx bxs-slideshow' ></i>
					<span class="text">Slider Content</span>
				</a>
			</li>
			<li>
				<a href="/admin-promo">
					<i class='bx bxs-discount' ></i>
					<span class="text">Promo Content</span>
				</a>
			</li>
			<li>
				<a href="/admin-content">
					<i class='bx bxs-news' ></i>
					<span class="text">News Content</span>
				</a>
			</li>
			<li>
				<a href="/admin-about">
					<i class='bx bxs-stopwatch' ></i>
					<span class="text">About Content</span>
				</a>
			</li>
			<li class="active">
				<a href="/admin-monitor">
					<i class='bx bxs-bot' ></i>
					<span class="text">Chatbot Monitoring</span>
				</a>
			</li>
			<li>
				<a href="/">
					<i class='bx bxs-home' ></i>
					<span class="text">Back To Homepage</span>
				</a>
			</li>
		</ul>
		<ul class="side-menu">
			<li>
				<a href="/logout" class="logout">
					<i class='bx bxs-log-out-circle' ></i>
					<span class="text" >Logout</span>
				</a>
			</li>
		</ul>
	</section>
	<!-- SIDEBAR -->
	
	<!-- CONTENT -->
	<section id="content">
		<!-- NAVBAR -->
		<nav>
			<i class='bx bx-menu' ></i>
			<span class="nav-link">Hello, {{name}}</span>
			<form method="POST">
				<input type="checkbox" id="switch-mode" hidden>
				<label for="switch-mode" class="switch-mode"></label>
			</form>
		</nav>
		<!-- NAVBAR -->

		<!-- MAIN -->
		<main>
			<div class="head-title">
				<div class="left">
					<h1>Chatbot Monitoring</h1>
					<ul class="breadcrumb">
						<li>
							<p>Chatbot Monitoring</p>
						</li>
						<li><i class='bx bx-chevron-right' ></i></li>
						<li>
							<a class="active" href="/admin-monitor"">Home</a>
						</li>
					</ul>
				</div>
			</div>
        {% if get_flashed_messages() %}
            <div class="flash-alert">
                {% for message in get_flashed_messages() %}
                    <div>{{ message }}</div>
                {% endfor %}
            </div>
        {% endif %}
			<!-- Content -->
			<div class="table-data">
				<div class="order">
					<div class="head">
						<h3>Chat Log Monitoring</h3>
						<h3>{{ a }}% User Using This Chatbot</h3>
                        <a href="{{ url_for('adm_monitor_delete')}}" class="status-delete" onclick="return confirm('Are you sure to delete?')">Delete all</a>
						<a href="{{ url_for('updateSys') }}" class="status-add">Update System</a>
					</div>
					<table>
						<thead>
							<tr>
								<th>Chat Log ID</th>
                                <th>User ID</th>
								<th>Question</th>
								<th>Answer</th>
								<th>Created Date</th>
							</tr>
						</thead>
						<tbody>
						{% for chatlog in chat %}

							<tr>
								<td>
									{{ chatlog.id }}
								</td>
								<td>
									<p>{{ chatlog.user_id }}</p>
								</td>
								<td>
									<p>{{ chatlog.question }}</p>
								</td>
								<td>
									<p>{{ chatlog.answer }}</p>
								</td>
								<td>
									<p>{{ chatlog.time }}</p>
								</td>
							</tr>
						{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
		</main>
	</section>
	
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	<script src="./style/admin.js"></script>
</body>
</html>